<header>
  <h1>
    <a href="/">All About the Code</a>
  </h1>
  <nav>
    <div class="hamburger">
      <img
        id="burger"
        aria-label="Menu"
        class="icon"
        alt="Menu"
        src="/assets/icons/menu.svg"
      />
    </div>
    <ul>
      <li>
        <a href="#" aria-label="Enable dark mode">
          <img
            alt="Dark mode icon"
            id="dark-mode"
            class="icon"
            src="/assets/icons/sun-moon.svg"
          />
        </a>
      </li>
      <li>
        <a href="/rss.xml" aria-label="rss feed">
          <img alt="rss feed" class="icon" src="/assets/icons/rss.svg" />
        </a>
      </li>
      <li>
        <a href="https://github.com/knuthaug" aria-label="Github page"
          ><svg alt="github page" class="icon" src="/assets/icons/github.svg"
        /></a>
      </li>
      <li>
        <details class="dropdown">
          <summary role="button">
            <a class="link">Categories</a>
          </summary>
          <ul class="display-grid">
            {% for cat in site.categories %}
            <li>
              <a
                class="{% if page.title == cat[0] %}marked{% endif %}"
                href="/{{cat[0]}}/"
              >
                {% capture category %}{{ cat[0] }}{% endcapture %} {% capture
                class %}icon{% endcapture %} {% include icon.liquid %}
                {{cat[0]}}</a
              >
            </li>
            {% endfor %}
          </ul>
        </details>
      </li>
      <li><a class="link" href="/about.html">About</a></li>
    </ul>
  </nav>
</header>
