<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link
    href="/rss.xml"
    rel="alternate"
    title="All About the Code - a knuthaug production"
    type="application/atom+xml"
  />
  <meta
    name="description"
    content="Knut Haugens blog about programming and all things related to programming."
  />
  <meta
    property="og:description"
    content="Views on code, IT and the life of a Nerd"
  />
  <meta property="og:url" content="https://blog.knuthaugen.no/" />
  <meta property="og:title" content="{{page.title }}" />
  <link
    rel="preload"
    href="/assets/fonts/source-serif.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/inter-italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/inter.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/assets/fonts/stacker.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <script type="text/javascript" src="/assets/js/bundle.js"></script>
  <link rel="expect" href="main" blocking="render" />
  <script type="speculationrules">
        {
      "prerender": [{
        "where": {
          "and": [
            { "href_matches": "/*/2024/*" },
            { "not": {"href_matches": "/*/*/*/*darkness*"}}
          ]
        },
        "eagerness": "moderate"
      }],
      "prefetch": [{
        "where": {
          "and": [
            { "href_matches": "/*" },
            { "not": {"selector_matches": ".do-not-prefetch"}}
          ]
        },
        "eagerness": "moderate"
      }]
    }
  </script>
</head>
