<header>
  <h1 class="margin-bottom-0">
    <a href="/">All About the Code</a>
  </h1>
  <nav>
    <ul>
      <li><a class="link" href="/index.html">Home</a></li>
      <li>
        <details class="dropdown">
          <summary role="button">
            <a class="link">Categories</a>
          </summary>
          <ul class="display-grid">
            {% for cat in site.categories %}
            <li><a class="" href="/{{cat[0]}}/">{{cat[0]}}</a></li>
            {% endfor %}
          </ul>
        </details>
      </li>
      <li><a class="link" href="/about.html">About</a></li>
    </ul>
  </nav>
</header>
