<header>
  <h1>
    <a href="/">All About the Code</a>
  </h1>
  <nav>
    <div class="hamburger">
      <svg class="icon" id="burger">
        <use id="menu-icon" href="/assets/icons/feather-sprite.svg#menu" />
      </svg>
    </div>
    <ul>
      <li>
        <a href="/rss.xml">
          <svg class="icon">
            <use id="menu-icon" href="/assets/icons/feather-sprite.svg#rss" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://github.com/knuthaug"
          ><svg class="icon">
            <use href="/assets/icons/feather-sprite.svg#github" /></svg
        ></a>
      </li>
      <li>
        <details class="dropdown">
          <summary role="button">
            <a class="link">Categories</a>
          </summary>
          <ul class="display-grid">
            {% for cat in site.categories %}
            <li>
              <a class="" href="/{{cat[0]}}/">
                {% capture category %}{{ cat[0] }}{% endcapture %} {% capture
                class %}icon{% endcapture %} {% include icon.liquid %}
                {{cat[0]}}</a
              >
            </li>
            {% endfor %}
          </ul>
        </details>
      </li>
      <li><a class="link" href="/about.html">About</a></li>
    </ul>
  </nav>
</header>
