<div id="main-container">
  {% capture category %}{{page.title}}{% endcapture %}{% capture class %}icon{%
  endcapture %}
  <div class="backdrop">{% include icon.liquid %}</div>
  <main id="category">
    <section class="niceties"></section>
    <div class="hero display-grid">
      <h2 class="text-align-center">Welcome to the Laboratory</h2>
      <p>
        This is a collection of tests and experiments that may or may not be
        useful to you. I need them to be available on the internet, at least,
        and that is why they are published here.
      </p>
      <ul>
        <li>
          <a href="/labs/2025/10/19/network-information-api.html"
            >Network Information API</a
          >
        </li>
      </ul>
    </div>
  </main>
</div>
