@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes iconFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes iconFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-fade-in {
  animation-name: iconFadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

.icon-fade-out {
  animation-name: iconFadeOut;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}
