@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes iconFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes iconFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: var(--in-animation-duration);
  animation-timing-function: ease-in-out;
}

.fade-out {
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-duration: var(--in-animation-duration);
  animation-timing-function: ease-in-out;
}

.icon-fade-in {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: var(--out-animation-duration);
  animation-timing-function: ease-out;
}

.icon-fade-out {
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-duration: var(--out-animation-duration);
  animation-timing-function: ease-out;
}
