@use "root.scss";
@use "dropdown.scss";
@use "menu.scss";

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  margin-top: 0;
}

::view-transition-old(root) {
  animation-duration: var(--mode-animation-duration-hide);
  animation-timing-function: ease-in-out;
}

::view-transition-new(root) {
  animation-duration: var(--mode-animation-duration-show);
  animation-timing-function: ease-in-out;
}

main {
  border-top: 2px solid var(--main-border-top);
}

#toc {
  --bar-grid-row: 2;

  grid-column: 3;
  grid-row: 1/4;
  position: fixed;
  width: fit-content;
  top: calc(calc(100vh / 2 - 100px));
  right: 16px;
  align-self: start;
  display: inline-block;
  /*background-color: var(--background-color);*/
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 8px auto;

  .bar {
    position: relative;
    background-color: var(--primary-gray);
    width: 3px;
    height: 26px;
    margin-top: 3px;
    position: relative;
    left: 10px;
    top: 0px;
    border-radius: 4px;
    transition: top 0.5s ease-in-out;
  }

  h4 {
    margin-top: 0;
    grid-column: 2;
  }

  a.toc-link {
    grid-column: 2;
    margin-left: 12px;
  }
}

.slide-in {
  animation-timing-function: ease-in-out;
  right: 20px !important;
}

video {
  width: 113%;
  border-radius: var(--border-radius-default);
  border: 2px solid var(--light-gray);
}

.niceties {
  background: linear-gradient(
    180deg,
    var(--gradient-blue) 0%,
    var(--gradient-white) 40%,
    var(--gradient-white) 100%
  );
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -2;
}

#main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 250px; /* height of the footer */
}

main#frontpage h2,
main.category h2,
main#archive h2 {
  font-size: clamp(1.2rem, 3vw + 1rem, 2rem);
}

/* cards for labs index */

ul.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem 0;
}

li.card {
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius-default);
  display: block;
  padding-top: 0;
  padding-left: var(--card-padding);
  padding-right: var(--card-padding);
  padding-bottom: var(--card-padding);
  color: var(--text-color);
  align-content: flex-start;

  &:hover {
    background-color: var(--card-hover-background-color);
    transition: background-color 200ms;
  }

  p {
    color: var(--text-color);
  }

  h3,
  a {
    color: var(--text-color);
    text-align: center;
  }

  a {
    transition: color 200ms;
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
    text-decoration: none;
  }

  figure {
    padding: 0;
    margin: 0;
    overflow: hidden;
    aspect-ratio: 3/2;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 0.25s;
    }
  }

  &:has(a:hover) img {
    scale: 1.05;
  }
}

.cat-button {
  display: block;
  box-sizing: border-box;
  margin: 5px;
  padding: 0px 4px;
  transition: var(--link-transition);
}

header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  opacity: 0.95;
  backdrop-filter: blur(10px);
  z-index: 2;
  display: grid;
  grid-template-columns: minmax(200px, 1.5fr) 1fr;
  gap: var(--page-margin);
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  transition: var(--header-transition);
  view-transition-name: header;

  h1 {
    font-family: "Stacker", sans-serif;
    margin-left: var(--page-margin);
    font-size: clamp(1.2rem, 2vw + 1rem, 2.2rem);
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    font-variant: small-caps;

    a {
      text-decoration: none;
      color: var(--primary-color);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  body {
    margin-top: 4px;
  }

  .backdrop {
    margin-top: 20px;
    margin-left: 10px;
  }

  header {
    grid-template-columns: minmax(200px, 4fr) 1fr;
    h1 {
      margin-bottom: 10px;
      font-size: clamp(1.1rem, 2vw + 1rem, 2rem);
      letter-spacing: 0;
      font-weight: 600;
    }
  }

  main .hero:nth-child(2) .full-bleed {
    margin-left: calc(var(--page-margin) * -1) !important;
    margin-right: calc(var(--page-margin) * -1) !important;
  }

  video {
    min-width: 107%;
    border-radius: var(--border-radius-default);
    border: 2px solid var(--light-gray);
    padding-left: 0;
    padding-right: 0;
  }

  #toc {
    position: fixed;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  nav ul {
    margin-top: 0;
  }

  #header h1 {
    margin-top: 4px;
  }

  #toc {
    visibility: hidden;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1040px) {
  .has-toc main .hero:nth-child(2) {
    grid-template-columns: 20px 70ch 20px !important;
  }
}

@media screen and (max-width: 1000px) {
  #toc {
    visibility: hidden;
    ul {
      visibility: hidden;
    }
  }
}
.marked {
  background-color: var(--header-nav-background-color);
  color: var(--dark-hover-color) !important;

  svg {
    stroke: var(--dark-hover-color);
  }
}

.quote {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 115%;
  font-weight: light;
  font-family: "Source serif italic", serif;
  font-style: italic;
  line-height: 140%;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;

  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  color: var(--text-color);
}

.backdrop {
  width: 50%;
  margin-top: 60px;
  height: 400px;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 40%;

  svg {
    transform: rotate(-15deg);
    stroke: var(--light-gray);
    opacity: 0.5;
    stroke-width: 2px;
    width: 100%;
    height: 100%;
  }
}

header.fixed {
  border-radius: var(--border-radius-default);
  top: 10px;
  padding-top: 4px;
  /*background-color: var(--background-color);*/
  box-shadow: 1px 1px 4px var(--header-box-shadow);
}

table {
  th {
    border-bottom: 1px solid #d0e7fa;
    border-right: 1px solid #d0e7fa;
  }

  th:last-child {
    border-right: none;
  }
  td {
    border-bottom: 1px solid #d0e7fa;
    border-right: 1px solid #d0e7fa;
    padding: 4px;
  }

  td:last-child {
    border-right: none;
  }
}

main p:has(img.center) {
  text-align: center;
}

main p img.full-bleed {
  width: 110%;
  max-width: 800px;
  min-width: 300px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius-default);
}

ol {
  list-style-type: lower-roman;
}

ul {
  list-style-type: "\2B62";
  li {
    padding-left: 5px;
    padding-bottom: 8px;
  }
}

a:hover svg {
  filter: var(--icon-drop-shadow);
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 500ms;
  animation-direction: forwards;
}

footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min(90ch, 90%) minmax(0, 1fr);
  font-size: 0.9rem;
  font-family: "Inter italic", sans-serif;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  align-items: center;
  line-height: 1.5em;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 240px;

  background: linear-gradient(
    0deg,
    var(--gradient-blue) 0%,
    var(--gradient-white) 60%,
    var(--gradient-white) 100%
  );

  .footer-wrapper {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #footer-left {
    padding-top: 10px;
    display: grid;

    h4 {
      text-align: center;
      font-size: 1.1rem;
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 10px;
      margin-block-start: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--icon-grid-gap);

      li {
        display: block;
        margin-right: calc(var(--page-margin) / 2);
        margin: 2px 4px 0 4px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        letter-spacing: 0.05rem;

        &:nth-child(odd) {
          justify-self: right;
        }

        a {
          transition: var(--link-transition);
          color: var(--primary-gray);
          text-decoration: none;
          padding: 4px;

          &:active {
            box-shadow: none;
          }

          &:hover:not(:has(svg)) {
            color: var(--dark-hover-color);
          }
        }
      }
    }
  }

  #footer-right {
    align-self: center;
    text-align: center;

    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(5, 50px);
      justify-self: center;
      margin-block-start: 0;
      padding-inline-start: 0;

      li a {
        padding: 10px;
        margin: -10px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  div.footer-wrapper {
    grid-template-columns: 1fr;
    gap: 10px;
    div {
      ul {
        display: none;
      }

      #fluff {
        display: none;
      }
    }
  }
}

nav {
  justify-self: end;
  margin-right: var(--page-margin);
}

@keyframes bounce {
  0% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  20% {
    transform-origin: center;
    transform: rotate(10deg) scale(1.05);
  }
  70% {
    transform-origin: center;
    transform: rotate(-5deg);
  }
  100% {
    transform-origin: center;
    transform: rotate(0deg) scale(1);
  }
}

nav ul {
  list-style-type: none;
  vertical-align: middle;
  padding-top: 14px;

  li {
    display: inline-block;
    margin-right: calc(var(--page-margin) / 2);
    margin-bottom: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;

    a {
      transition: var(--link-transition);
      color: var(--primary-gray);
      text-decoration: none;
      cursor: pointer;

      &:active {
        box-shadow: none;
      }

      &:hover {
        color: var(--dark-hover-color);
      }

      img {
        transition: var(--icon-hover-animation);
        color: var(--text-color);
        stroke: var(--text-color);
      }
    }

    button {
      border: none;
      margin-bottom: 4px;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: inherit;
      letter-spacing: 0.05rem;
      background-color: inherit;
      cursor: pointer;
    }
  }
}

.link {
  position: relative;
  z-index: 1;
}

.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.2em;
  right: -0.2em;
  background-color: var(--header-nav-background-color);
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: var(--link-transition);
}

.link:hover::before {
  transform: scaleY(1);
  background-color: var(--header-nav-background-color);
}

#frontpage h2 {
  margin-bottom: calc(var(--page-margin) / 2);
  font-size: clamp(1.2rem, 3vw + 1rem, 2rem);
}

#frontpage p {
  margin-bottom: 0;
}

main {
  line-height: 1.45;
  font-size: 1.25rem;
  font-family: "Source serif", serif;
  font-weight: 350;
  color: var(--text-color);
  margin-bottom: calc(var(--page-margin) * 2);

  a {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 450;
    transition: var(--link-transition);
    padding: 0px 1px;
  }

  a:hover {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  a:visited {
    color: var(--secondary-color);
  }

  h2 {
    font-family: "Inter italic", sans-serif;
    margin-bottom: 0;
    margin-top: calc(var(--page-margin) * 2);
    font-size: clamp(1.3rem, 3vw + 1rem, 2.5rem);
    min-height: 0vh;
    font-weight: 450;
    letter-spacing: 0.08em;
  }
}

.highlight {
  min-width: fit-content;
  white-space: pre-wrap;
  margin-left: 2px;
}

h3,
h4,
h5 {
  margin-bottom: 0;
  font-family: "Inter italic", sans-serif;
  font-weight: 500;

  a,
  a:hover,
  a:active {
    color: inherit;
  }
}

.published-date {
  font-weight: 600;
}

main h2 a,
main h2 a:visited {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--link-transition);
}

main .hero:nth-child(2) {
  grid-template-columns:
    minmax(0, 1fr)
    min(70ch, 90%) minmax(0, 1fr);
  gap: calc(var(--page-margin) / 2);
}

main .hero > * {
  grid-column: 2;
}

article p:first-of-type {
  margin-top: 0;
}

article h2 {
  margin-bottom: var(--page-margin);
  text-align: center;
}

kbd {
  background-color: var(--text-color);
  border-radius: 3px;
  border: 1px solid var(--light-gray);
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2), 0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: var(--background-color);
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

main #meta {
  font-size: 1.2rem;
  font-family: "Source serif italic", serif;
  grid-column: 2;
  margin-bottom: calc(var(--page-margin) * 2);
  margin-top: calc(var(--page-margin) * -1.5);

  div {
    text-align: center;
  }
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

:focus,
.focus-visible:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-color);
}

.date {
  font-family: "Source serif italic", serif;
  float: left;
  display: block;
  margin-right: 10px;
  font-size: 105%;
  font-weight: 500;
  margin-bottom: 1px;
  line-height: 1.2;
}

#meta {
  #published {
    font-family: "Source serif italic", serif;
    grid-row: 1;
    height: 20px;
  }
}

main .hero:nth-child(2) .full-bleed {
  margin-left: calc(var(--page-margin) * -2);
  margin-right: calc(var(--page-margin) * -2);
}

.full-bleed div {
  border-radius: var(--border-radius-default);
  padding-left: calc(var(--page-margin) - 8px);
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  letter-spacing: var(--body-letter-spacing);
}

div.highlight,
div.syntax-highlight {
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius-default);
}

p code,
li code {
  background-color: var(--code-quote-background-color);
  border-radius: var(--border-radius-default);
  padding: 1px 3px 1px 3px;
  font-size: 0.95rem;
  letter-spacing: 1px;
}

pre {
  background-color: hsl(213, 76%, 73%);
  font-weight: 200;
  border-radius: var(--border-radius-default);
  padding: 10px;
  font-size: 1rem;
}

textarea {
  font-family: "Source code pro", monospace;
  width: 100%;
  font-size: 1rem;
  border-radius: var(--border-radius-default);
  border: 2px solid var(--light-gray);
  padding: 0;
  margin: 0;
  resize: vertical;
  min-height: 150px;
}

textarea.tall {
  min-height: 400px;
  max-height: 800px;
}

pre.font-highlight {
  font-size: 1rem;
  white-space: pre-wrap;
  min-width: fit-content;
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius-default);
  background: #282a36;
  color: #f8f8f2;

  code {
    font-family: "Syntax regular", monospace;
    background-color: transparent;
  }
}

details::details-content {
  opacity: 0;
  transition: opacity 250ms, content-visibility 250ms allow-discrete;
}

details[open]::details-content {
  opacity: 1;
}

.scrollable {
  max-height: 500px;
  overflow-y: scroll;
}

canvas {
  width: 100%;
  min-height: 150px;
}
/* utility classes */

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-medium {
  margin-bottom: 16px;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.display-grid {
  display: grid;
}

.opacity-0 {
  opacity: 0;
}

.text-align-center {
  text-align: center;
}
