@use "animation.scss";

.hamburger {
  display: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin-top: -5px;

  a {
    text-decoration: none;
  }

  a:hover svg {
    filter: var(--icon-drop-shadow);
  }

  img {
    transition: all 0.2s ease-in-out;
    margin: 3px;
  }
}

#mobile-menu {
  position: fixed;
  top: 54px;
  left: 0;
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background-color);
  gap: var(--icon-grid-gap);
  width: calc(95vw);
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius-default);

  ul {
    list-style-type: none;
    padding-inline-start: 10px;
    margin-block-start: 10px;

    li {
      display: block;
      margin-right: calc(var(--page-margin) / 2);
      margin: 2px 4px 0 4px;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      letter-spacing: 0.05rem;

      a {
        transition: var(--link-transition);
        color: var(--primary-gray);
        text-decoration: none;
        padding: 4px;

        &:hover svg {
          filter: var(--icon-drop-shadow);
        }

        &:active {
          box-shadow: none;
        }
        &:hover:not(:has(svg)) {
          color: var(--dark-hover-color);
        }
      }
    }
  }

  summary {
    list-style: none;
    list-style-type: none;

    a {
      display: block;
      margin-right: calc(var(--page-margin) / 2);
      margin-bottom: 4px;
      margin-top: 7px;
      padding: 4px 2px 5px 2px;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      letter-spacing: 0.05rem;
      color: var(--primary-gray);
      cursor: pointer;

      &:hover {
        color: var(--dark-hover-color);
      }
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details ul {
    padding-inline-start: 10px;
    margin-block-start: 2px;

    li {
      background-color: inherit;
      margin: 2px 4px 0px 4px;
      display: inline;
      width: max-content;
      padding: 0px 3px 2px 2px;

      img {
        margin-right: 6px;
      }
    }

    li:hover svg {
      filter: var(--icon-drop-shadow);
    }
  }
}

details {
  padding-left: 10px;
}

#mobile-menu.show {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

#mobile-menu.hide {
  animation-name: fadeIn;
  animation-direction: reverse;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

#mobile-menu ul.right-column li:first-child {
  margin-bottom: 10px;
}

#mobile-menu ul.right-column li {
  margin-bottom: 4px;
}

@media screen and (max-width: 650px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #mobile-menu.active {
    display: grid;
  }
}
