@import "animation.scss";

.hamburger {
  display: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

#mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: calc(100vw - 8px);
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  transition: all 1s ease-in-out;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius-default);

  ul {
    list-style-type: none;
  }
}

#mobile-menu.show {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

#mobile-menu.hide {
  animation-name: fadeIn;
  animation-direction: reverse;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

@media screen and (max-width: 650px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #mobile-menu.active {
    display: block;
    background-color: var(--background);
  }
}
