:root {
  --page-margin: 24px;
  --border-radius-default: 4px;
  --link-transition: all 0.2s ease-in-out;
  --header-transition: all 0.2s ease-in-out;
  --icon-hover-animation: all 0.2s ease-in-out;

  --dropdown-width: 240px;

  --in-animation-duration: 0.4s;
  --out-animation-duration: 0.2s;
}

html {
  --primary-color: hsl(213, 62%, 41%);
  --secondary-color: hsl(213, 29%, 51%);
  --background: rgb(247, 247, 247);
  --primary-gray: #444;
  --light-gray: rgb(209, 209, 209);
  --code-quote-bg: hsl(0, 0%, 90%);

  --gradient-blue: rgb(215, 234, 247);
  --gradient-white: rgb(247, 247, 247);
  --main-border-top: #d0e7fa;
  --header-box-shadow: rgb(0, 0, 0);

  --icon-drop-shadow: drop-shadow(0 0 2px var(--primary-color));

  --text-color: rgb(68, 68, 68);
  --button-color: white;

  --dropdown-background: white;
  --dropdown-color: black;
}

html.dark {
  --icon-drop-shadow: drop-shadow(0 0 2px var(--primary-color));
  --primary-color: rgb(215, 234, 247);
  --secondary-color: hsl(213, 47%, 63%);
  --background: rgb(22, 22, 22);
  --text-color: rgb(209, 209, 209);
  --main-border-top: #666;
  --primary-gray: rgb(209, 209, 209);
  --header-box-shadow: rgb(209, 209, 209);
  --code-quote-bg: hsl(240, 1%, 30%);

  --gradient-blue: #333;
  --gradient-white: rgb(22, 22, 22);
}

*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Inter italic";
  src: url("/assets/fonts/inter-italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Source serif";
  src: url("/assets/fonts/source-serif.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Source serif italic";
  src: url("/assets/fonts/source-serif-italic.woff2") format("woff2");
  font-weight: 200 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Stacker";
  src: url("/assets/fonts/stacker.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: fallback;
}

html,
body {
  height: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
