:root {
  --page-margin: 24px;
  --page-margin-mobile: 10px;
  --border-radius-default: 4px;
  --dropdown-width: 240px;
  --icon-grid-gap: 6px;
  --card-padding: 0.5rem;
  --pre-padding: 10px;
  --form-gap: 10px;

  --link-transition: all 0.2s ease-in-out;
  --header-transition: all 0.2s ease-in-out;
  --icon-hover-animation: all 0.2s ease-in-out;

  --in-animation-duration: 0.4s;
  --out-animation-duration: 0.2s;
  --body-letter-spacing: 0.02rem;
}

html {
  --primary-color: hsl(213, 62%, 41%);
  --secondary-color: hsl(213, 29%, 51%);
  --background-color: rgb(247, 247, 247);
  --text-color: rgb(68, 68, 68);
  --primary-gray: rgb(68, 68, 68);
  --light-gray: rgb(209, 209, 209);
  --dark-hover-color: var(--primary-gray);
  --gradient-blue: rgb(215, 234, 247);
  --gradient-white: rgb(247, 247, 247);
  --header-nav-background-color: rgb(215, 234, 247);
  --dropdown-background: var(--background-color);
  --dropdown-text-color: var(--primary-gray);
  --main-border-top: #d0e7fa;
  --code-quote-background-color: hsl(0, 0%, 90%);

  --header-box-shadow: rgb(0, 0, 0);
  --icon-drop-shadow: drop-shadow(0 0 2px var(--primary-color));
  --card-hover-background-color: var(--gradient-blue);
}

html.dark {
  --primary-color: rgb(169, 218, 251);
  --secondary-color: hsl(213, 47%, 63%);
  --background-color: rgb(22, 22, 22);
  --text-color: rgb(199, 199, 199);
  --primary-gray: rgb(209, 209, 209);
  --light-gray: rgb(81, 81, 81);
  --dark-hover-color: rgb(51, 51, 51);
  --gradient-blue: rgb(51, 51, 51);
  --gradient-white: rgb(22, 22, 22);
  --header-nav-background-color: var(--secondary-color);
  --dropdown-background: var(--background-color);
  --dropdown-text-color: var(--primary-gray);
  --main-border-top: #666;
  --code-quote-background-color: hsl(240, 1%, 30%);

  --header-box-shadow: rgb(209, 209, 209);
  --icon-drop-shadow: drop-shadow(0 0 4px var(--primary-color));
  --card-hover-background-color: var(--gradient-blue);
}

*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Syntax regular";
  src: url("/assets/fonts/syntax-regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Inter italic";
  src: url("/assets/fonts/inter-italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Source serif italic";
  src: url("/assets/fonts/source-serif-italic.woff2") format("woff2");
  font-weight: 200 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Stacker";
  src: url("/assets/fonts/stacker.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: fallback;
}

html,
body {
  height: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
