<div class="page-header-wrapper">
{% if page.title %} 
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
{% endif %}
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4" style="margin-top: 20px;">
    <h2>Meta</h2>

    <p class="italic">
Knut Haugen [Knu:t Hæugen] is a Norwegian software developer with a soft spot for dynamic 
languages, DevOps and anything to with developer testing. Writes mostly java by day (and some by night too, actually) and ruby and javascript by night. I am an agile methodology geek with bias on Lean and Kanban. I race mountain bikes and drink proper beer.
  </p>
<p class="italic">
  You can find me on <a href="https://twitter.com/knuthaug">twitter</a> or some kind of electric letter by the address of knuthaug ætt gmail
</p>

</div>
