<div class="page-header-wrapper">
{% if page.title %} 
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
{% endif %}
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4" style="margin-top: 20px;">
    <h2>Meta</h2>

    <p class="italic">
      Knut Haugen [Knu:t Hæugen] is a Norwegian software developer with a soft spot for dynamic languages, DevOps and anything to with developer testing. Writes mostly javascript by day (and some by night too, actually). I am an agile methodology geek with bias on Lean and Kanban. I ride mountain bikes and drink proper beer, but not at the same time.
    </p>
    <p>
      I automate, therefore I am.
  </p>
<p class="italic">
  You can find me on <a href="https://twitter.com/knuthaug">twitter</a> or some kind of electric letter by the address of knuthaug ætt gmail
</p>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60838481-1', 'auto');
  ga('send', 'pageview');
</script>
