<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="main-container">
      {% include header.html %}
      <main>
        <section class="niceties"></section>
        <article class="hero display-grid">
          <section id="meta">
            <div>Published: {{ page.date | date: "%Y-%m-%d"}}</div>
            {% if page.tags %}
            <ul class="tags">
              {% for tag in page.tags %}
              <li><a href="/tag/{{tag}}.html">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </section>
          <h2>{{ page.title }}</h2>

          {{ content }}
        </article>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
