<!DOCTYPE html>
<html
  lang="en"
  class="dark"
  style="--mode-animation-duration-hide: 250ms;
  --mode-animation-duration-show: 250ms;"
>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="main-container">
      <main>
        <section class="niceties"></section>
        <article class="hero display-grid">
          <section id="toc" class="opacity-0">
            <h4>Table of Contents</h4>
            <div class="bar" data-row="1"></div>
          </section>
          <h3 style="visibility: hidden">
            <a name="beginning">Beginning</a>
          </h3>
          <h2>{{ page.title }}</h2>
          <section id="meta">
            <div id="published">
              Published in
              <span class="category">{{ page.categories }}</span> on {{
              page.date | date: "%B %e, %Y"}}
            </div>
          </section>
          {{ content }}
        </article>
      </main>
      {% include menu.html %} {% include footer.html %}
    </div>
  </body>
</html>
