<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="main-container">
      <main>
        <section class="niceties"></section>
        <article class="hero display-grid">
          <section id="toc" class="opacity-0">
            <h4>Table of Contents</h4>
            <ul></ul>
          </section>
          <h2>{{ page.title }}</h2>
          <section id="meta">
            <div id="published">
              Published in
              <span class="category">{{ page.categories }}</span> on {{
              page.date | date: "%B %e, %Y"}}
            </div>
          </section>
          {{ content }}
        </article>
      </main>
      {% include menu.html %} {% include footer.html %}
    </div>
  </body>
</html>
