<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="main-container">
      {% include header.html %}
      <main>
        <section class="niceties"></section>
        <article class="hero display-grid">
          <h2>Tag: {{ page.tag}}</h2>

          {% for post in page.posts %}

          <div class="display-block">
            <span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo;
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
          {% endfor %}
        </article>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
