<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="main-container">
      {% include header.html %}
      <main id="category">
        <section class="niceties"></section>
        <div class="hero display-grid">
          <h2>Category {{ page.title}}</h2>

          {% for post in site.posts %}
          <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="date">{{post.date | date: "%B %e, %Y" }}</div>
            {{ post.excerpt }} &raquo;
            <a href="{{ post.url }}"> Read the article</a>
          </article>
          {% endfor %}
        </div>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
